* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

h2 {
  padding: 20px;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.blog-item {
  width: 840px;
  margin: 50px auto;
  
}

.blog1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}